@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.back {
    min-width: 100px;
    min-height: 20px;
    padding: 15px 10px;
    margin-bottom: 20px;
    background-image: linear-gradient(120deg, #f1a501, #fb9300, #e78701);
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}

.back:hover {
    background-color: #fcc46a;
}

.form {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 600px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 /20%);
    text-align: center;
}

.formTitle {
    font-size: 2rem;
    margin-bottom: 2em;
    font-family: 'Roboto', sans-serif;
}

.formContainer {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.formGroup {
    position: relative;
    color: #5757577e;
}

.formInput {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #706c6c;
    font-family: 'Roboto', sans-serif;
}

.formInput:not(:placeholder-shown) {
    color: #4d4646;
}

.formInput:focus+.formLabel,
.formInput:not(:placeholder-shown)+.formLabel {
    transform: translateY(-12px) scale(0.7);
    transform-origin: left top;
    color: #fb9300;
}

.formLabel {
    color: #706c6c;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.formSubmit {
    min-width: 100px;
    min-height: 20px;
    padding: 15px 10px;
    margin-top: 40px;
    background-image: linear-gradient(120deg, #f1a501, #fb9300, #e78701);
    font-weight: 600;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}

.formSubmit:hover {
    background-color: #fcc46a;
}

.formLine {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(120deg, #f1a501, #fb9300, #e78701);
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.selectDiets {
    height: 30px;
    margin-top: 20px;
}

.formatDiets {
    display: flex;
    justify-items: center;
    margin-top: 40px;
    margin-left: 18px;
}

.simbolDiets {
    padding-top: 20px;
}

.divDiets {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 20px;
    background-color: #f3f3f3;
    font-weight: 600;
    border-radius: 50px;
}

h5 {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: rgb(165, 165, 165);
}

.buttonX {
    margin-top: 5px;
    margin-right: 7px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50px;
    color: #fb9300;
    text-align: center;
    border: none;
    cursor: pointer;
}